page-cocktail-costing2 {
    .scroll-content{
        margin-top: 96px !important;
    }
    .toolbar-md,
    .toolbar-ios {
        min-height: 97px;
        align-items: flex-start;
    }    
    .inner-logo {
        width: 55px;
        margin-top: 8px;
    }
    .logo-btn{
        background-color: transparent;
        display: flex;
        justify-content: center;
        width: 100%;  
        height: auto;      
    }
}
