page-cocktail-costing2 {
    .log-reg-wrap{background:#fff}
	.log-reg-wrap .item{background: transparent}
	.log-reg-wrap .item .item-inner{padding-right:0; border-bottom:none;}
	.log-reg-wrap.list .item{padding-left:0;}
	.log-reg-wrap.list .item:last-child{border-bottom:0;}
	.log-reg-wrap.list .item .icon{margin-left: 12px}
	.log-reg-wrap.list .item .icon img{width:20px;}
	.log-reg-wrap.list .item ion-label[fixed]{flex:0 0 35px; min-width:35px; max-width:35px}
	.log-reg-wrap.list .item .text-input{color:#3d332d; border-bottom:1px solid #3d332d;}
	
	.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{border-bottom:none; box-shadow:none; -webkit-box-shadow:none;}
	.list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child{border-bottom-color:none; box-shadow:none; -webkit-box-shadow:none;}
	.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
	.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
	border-bottom-color:#454545;-webkit-box-shadow: none; box-shadow: none;}
	
	.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
	.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {border-bottom-color:#454545;-webkit-box-shadow: none; box-shadow: none;}

	.list-ios > .item-block:first-child{border-top:0}

	.text-input-md, .text-input-ios {padding-top: 6px; padding-bottom: 6px}
	.f-box{
		width:48%;
		float: left;
	}
	.main-box{width:100%; border:solid 1px #ccc; border-radius: 4px; overflow: hidden; padding:10px;}
	.main-box p{
		font-size: 14px;
		color:#666;
		font-weight: 500;
		padding:0;
		margin: 0;
	}
	.f-box2{
		width:48%;
		float: right;
	}
	
	.f-box .text-input{color:#3d332d; border-bottom:1px solid #3d332d;}
	.f-box2 .text-input{color:#3d332d; border-bottom:1px solid #3d332d;}
	.f-box .text-input-md, .f-box .text-input-ios {padding-top: 0px; padding-bottom: 6px}
	.f-box2 .text-input-md, .f-box2 .text-input-ios {padding-top: 0px; padding-bottom: 6px}

	.pro-pic{width:90px; height:90px; border-radius: 100%; position: relative; margin: 20px auto 10px; overflow: hidden}
    .pro-pic img{width:100%; height:100%; object-fit: cover}
    .pro-pic .camera{width:22px; height:22px; font-size:18px; position: absolute; top:50%; left:50%; transform: translate(-50%,-50%); color:#fff; z-index: 1; text-align: center; overflow: hidden}
    .pro-pic .camera input[type='file']{width:100%; height:100%; position: absolute; top:0; left:0; opacity: 0}
}
