<ion-content padding>
	<div class="login-wrap">
		<form [formGroup]="rForm" novalidate>
		<div class="upper-area">
		<div class="logo"><img src="assets/imgs/logo.png" alt=""></div>		
		<ion-list class="log-reg-wrap">
			<ion-item>
				<ion-label fixed>
					<span class="icon">
						<img src="assets/imgs/icon-user.png" alt="">
					</span>
				</ion-label>
				<ion-input type="text" placeholder="Username" formControlName="username" value="" required ></ion-input>
			</ion-item>
			
			<ion-item>
				<ion-label fixed>
					<span class="icon">
						<img src="assets/imgs/icon-password.png" alt="">
					</span>
				</ion-label>
				<ion-input type="password" placeholder="Password" formControlName="password" value="" required ></ion-input>
			</ion-item>
			<ion-item>
				<ion-label fixed>
					<span class="icon">
						<img src="assets/imgs/icon-password.png" alt="">
					</span>
				</ion-label>
				<ion-input type="password" placeholder="Confirm password" formControlName="con_password" required (ngModelChange)="checkpassword($event,rForm.value)" ></ion-input>				
			</ion-item>
            <p *ngIf="!passwordmatch" ion-text color="danger" style="padding-left: 10px">Password and Confirm password not match </p>				
			<ion-item>
				<ion-label fixed>
					<span class="icon">
						<img src="assets/imgs/icon-mail.png" alt="">
					</span>
				</ion-label>
				<ion-input type="text" placeholder="Email Address" formControlName="email" required></ion-input>
			</ion-item>
			<p *ngIf="!checkEmailExist" ion-text color="danger" style="padding-left: 10px">This email already exist. </p>

			<ion-item>
				<ion-label fixed>
					<span class="icon">
						<img src="assets/imgs/icon-zip.png" alt="">
					</span>
				</ion-label>
				<ion-input type="text" placeholder="Zip code" formControlName="postcode" required ></ion-input>				
			</ion-item>
			<p *ngIf="!rForm.controls['postcode'].valid && rForm.controls['postcode'].touched" ion-text color="danger" >Zip Code is required </p>
			<ion-item>
				<ion-label fixed>
					<span class="icon">
						<img src="assets/imgs/icon-level.png" alt="">
					</span>
				</ion-label>
				<ion-input type="text" placeholder="Level of access"></ion-input>
			</ion-item>
		</ion-list>
	</div>
<div class="lower-area">
	<button ion-button color="primary" type="submit" [disabled]="!rForm.valid || !passwordmatch || !isValidEmail || !checkEmailExist" block round (click)="onSubmit(rForm.value)">Go To Bar</button>
</div>
</form>	
</div>
<p class="text-center forgot-pass" (click)="login()">Already have an account?</p>	
	
	
	<!-- <p class="text-center forgot-pass"><a href="">Forgot password?</a></p>-->	
</ion-content>

