<ion-content padding>
	<div class="login-wrap">
		<form [formGroup]="rForm" (ngSubmit)="forgotPass(rForm.value)">
		<div class="upper-area">
			<div class="logo">
				<img src="assets/imgs/logo.png" alt="">
			</div>
			<ion-list class="log-reg-wrap">
				<ion-item>
					<ion-label fixed>
						<span class="icon">
							<img src="assets/imgs/icon-mail.png" alt="">
						</span>
					</ion-label>
					
					<ion-input type="text" placeholder="Email" formControlName="email" required ></ion-input>
				</ion-item>

				<p *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched" ion-text color="danger">Email is required </p>
				<p *ngIf="!isValidEmail" ion-text color="danger">Please enter valid email id. </p>
			</ion-list>
		</div>
		<div class="lower-area">
			<button class="mb-25 text-uppercase" ion-button color="primary" block [disabled]="!rForm.valid" >Submit</button>
		</div>
	</form>
	</div>
</ion-content>





